.myInput {
    display: inline;
    width: 70%;
    padding: 5px 15px;
    margin: 20px 10px;
    border: 1px solid black;
    border-radius: 20px;
}

@media (max-width: 1100px) {
    .myInput {
        margin: 20px 5px;
    }
}