.Body {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 20px;
    width: 100px;
    height: 140px;
    margin: 30px 35px;
    padding: 10px 10px;
    display: inline-block;
}