.TodayHigh {
    margin-top: 50px;

}

.Body {
    box-shadow: 5px 10px 14px rgba(0, 0, 0, 0.25), 5px 10px 14px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    width: 100px;
    height: 140px;
    margin: 30px 35px;
    padding: 10px 10px;
    display: inline-block;

}

.Title {
    font-weight: bold;
    margin: auto;
    font-size: 28px;
}

.Header {
    font-weight: bold;
    margin: auto;
    font-size: 14px;
    color: gray;
}

.Map {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Icons {
    width: 30px;
    height: 30px;
}

.Margin {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

@media (max-width: 1300px) {
    .Icons {
        width: 20px;
        height: 20px;
        display: inline;
    }

    .Margin {
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        margin: 0;
    }

    .Header {
        margin: 0;
    }

}

@media (max-width: 1024px) {
    .Margin {
        vertical-align: middle;
        text-align: center;
        font-size: 14px;
        margin: 0;
    }

    .Body {
        height: 160px;
    }

    .Map {
        display: none;
    }

    .Icons {
        width: 20px;
        height: 20px;
        display: inline;
    }
}